* {
	margin:0;
	padding:0;
}
h2 {
	padding:1em 0 0 0;
}
p {
	line-height:1.4em;
}
p + p {
	text-indent:2em;
}

a {
	text-decoration: underline;
	color: #000;
}

.md-select__link.a {
	text-decoration: none;
	color: #000;
}
.md-select__link.li {
	text-decoration: none;
	color: #000;
}

ul.a {list-style-type: circle;}
ul.b {list-style-type: square;}
ol.c {list-style-type: upper-roman;}
ol.d {list-style-type: lower-alpha;}


ol {
  padding-left: 26px;
}

ul {
  padding-left: 26px;
  list-style-type: square;
  text-decoration: none;
}

li {
  padding-left: 6px;
}

body {
	font-size:100%;
	font-family: Tahoma, Geneva, sans-serif;
	text-align:left;
	background: #F8F8F8 ;
}
pre {
	display:block;
	margin:1em 0 0 0;
	width:488px;
}
pre code {
	background:#ffff00;
	display:block;
	padding:10px;
}
.r {
	float:right;
	padding:0 0 10px 20px;
}

.headbutton{
	font-size:125%;
	float:right;
	margin-bottom: -5px;
	margin-right: 5px;
	padding:3px 3px 3px 3px;
	background:#E8E8E8;
		-webkit-border-radius:.3em;
		   -moz-border-radius:.3em;
			border-radius:.3em;
	}
.headbutton-active{
	font-size:125%;
	float:right;
	margin-bottom: -5px;
	margin-right: 5px;
	padding:3px 3px 3px 3px;
	}
.sidebutton{
	font-size:150%;
	width:100%;
	text-align:left;
	margin:-20px auto;
	padding:4px 6px;
	background:#BCE498;
	-webkit-border-radius:.3em;
	   -moz-border-radius:.3em;
		border-radius:.3em;
	}

.mainbutton{
		float:left;
		margin:-10px auto;
		padding:4px 6px;
		background:white;
		-webkit-border-radius:.3em;
		   -moz-border-radius:.3em;
			border-radius:.3em;
	}

/* Landscape mode (default) */
#wrap {
	margin:0 auto;
	width:1000px;
	position:relative;
	overflow:hidden;
	text-align:left;
	background:white;
}
#header {
	float:left;
	width:1000px;
	padding:0px 0 0px 0;
	background: black;

}
#header h1 {
	padding:10px 30px 0 30px;
	color: white;
}
#header p {
	padding:0 30px;
	line-height:1.4em;
}
#content {
	float:left;
	width:1024px;
	position:relative;
	left:768px;
}
#main {
	float:left;
	width:708px;
	position:relative;
	right:738px;
	padding:20px 0;
}
#side {
	float:right;
	width:216px;
	position:relative;
	right:788px;
	padding-bottom:20px;
}
#sidea,
#sideb,
#sidec {
	clear:left;
	float:left;
	width:216px;
}
#footer {
	clear:both;
	float:left;
	width:1024px;
	background: grey;
	color:white;
}
#footer p {
	text-align:center;
	padding:10px 10px 5px 5px;
}
#footer a {
	color:white;
}

.form{
	width:100%;
	margin:-10px auto;
	padding:4px 6px;
	background:yellow;
	-webkit-border-radius:.3em;
	   -moz-border-radius:.3em;
	        border-radius:.3em;
}
.form input[type="text"]{
	background:white;
	border:none;
	font-size:15px;
	padding:3px;
	color:#000;
	width:238px;
}
.form input[type="submit"]{
	background:black;
	border:none;
	padding:5px;
	margin:0;
	font-family: 'Patua One';
	font-size: 14px;
	letter-spacing: 1px;
	color:#fff;
	cursor:pointer;
	-webkit-border-radius:.2em;
	   -moz-border-radius:.2em;
			border-radius:.2em;
}

.md-header{
	background-color: #000;
   }

@media only screen and (orientation:portrait){
	/* portrait mode */
	#header,
	#wrap,
	#footer {
		width:768px;
	}
	#content {
		left:0;
		background:#629833;
	}
	#main {
		float:left;
		width:708px;
		position:relative;
		right:0;
		left:30px;
		padding:20px 0;
	}
	#side {
		clear:left;
		float:left;
		width:768px;
		right:0;
		padding-bottom:20px;
		background:#eee;
	}
	#sidea {
		clear:none;
		width:216px;
		float:left;
		position:relative;
		left:30px;
		padding-top:20px;
	}
	#sideb {
		clear:none;
		width:216px;
		float:left;
		position:relative;
		left:60px;
		padding-top:20px;
	}
	#sidec {
		clear:none;
		width:216px;
		float:right;
		position:relative;
		right:30px;
		padding-top:20px;
	}

/* Palette URL: http://paletton.com/#uid=12-0u0kllllaFw0g0qFqFg0w0aF */
.color-primary-0 { color: #629833 }	/* Main Primary color */
.color-primary-1 { color: #BCE498 }
.color-primary-2 { color: #8CBE5F }
.color-primary-3 { color: #407213 }
.color-primary-4 { color: #244C00 }
}
/*https://www.w3schools.com/colors/colors_shades.asp */
